/* --- gray color styles --- */
#wrapper { background-color:#000; }		/* Navigation bar xxx bcb  */

#innerWrapper {
        border-right-color:#dac092; 		/* right column color */
/* my:	border-right-color:#880000; 		/* right column color */
	border-left-color:#bb8d49;   /* left column inner border color*/
}

#header {
	background: #666 url(../images/header/bg.jpg) top left no-repeat;}	/* Header color */

#headerNavBar {
	background-color:#900;		/* Header Nav background */
	border-top-color:#c00;		/* Header Nav top border */
}
/* --- headerRight styles (top right bar) --- */
#headerRight div ul { 
    background: #333 /* bcb xxxx url(../images/header/bar_corner.gif) left bottom no-repeat*/;
}
#search form label { color: #999;}

/* --- header nav bar --- */
#headerNavBar a:focus, #headerNavBar a:hover, #headerNavBar a:active {
	color: #fff; 
	background-color:#c00;
}

/* --- sideColumn1 styles --- */
#sideColumn1 {
	background: #000; /* xxxbcb-took-this-out,gax img in left sidebar url(../images/background/nav_bg.jpg) no-repeat left bottom; */
}
#sideColumn1 ul li{	border-bottom-color:#888; }
#sideColumn1 a:link, #sideColumn1 a:visited { 
	color:#fff; 
}
#sideColumn1 a:focus, #sideColumn1 a:hover, #sideColumn1 a:active { 
	color: #fff; 
	background-color: #444;
}
#sideColumn1 .subnav { background: #999; }
#sideColumn1 .subnav a:link, #sideColumn1 .subnav a:visited { 
	color:#fff; 
	background-color: #999; 
}
#sideColumn1 .subnav a:focus, #sideColumn1 .subnav a:hover, #sideColumn1 .subnav a:active { 
	color: #fff; 
	background-color: #666;  
}
#sideColumn1 h1 { color: #dac092; }
#sideColumn1 h2 { color: #eee; }
#sideColumn1 h3 { color: #dac092; }
#sideColumn1 h4 { color: #eee; }
#sideColumn1 h5 { color: #dac092; }
#sideColumn1 h6 { color: #eee; }
#sideColumn1 p { color: #fff; }


/* --- sideColumn2 styles --- */
#sideColumn2 ul li{	/* border-bottom: 2px solid #997; */ }
#sideColumn2 a:link, #sideColumn2 a:visited { 
	color:#30b; /* bcb was 900 */
	background-color: #dac092; 
}

#sideColumn2 a:focus, #sideColumn2 a:hover, #sideColumn2 a:active  { 
	color: #fff; /* bcb was #fff */ 
	background-color: #dac092; /* bcb was #c95 */
}
#sideColumn2 .subnav { background: #e8cea1; }
#sideColumn2 .subnav a:link, #sideColumn2 .subnav a:visited { 
	color:#c00; 
	background-color: #e8cea1; 
}
#sideColumn2 .subnav a:focus, #sideColumn2 .subnav a:hover, #sideColumn2 .subnav a:active { 
	color: #333; 
	background-color: #f7e0b8; 
}

#sideColumn2 h3.listspacing{line-height:150%} /* bcb added */


#sideColumn2 h1 { color: #900; }
#sideColumn2 h2 { color: #555; /* bcb was 333 */ 
	          font-size: 85%; 
		  
	        }
#sideColumn2 h3 { color: #444; /* bcb was 900 */ }
#sideColumn2 h4 { 
	color: #666; /* bcb was 444 */
	border-bottom-color:#333;
	}
#sideColumn2 h5 { color: #a00; }
#sideColumn2 h6 { color: #444; }
#sideColumn2 p, #sideColumn2 strong { color:#000; /* bcb was 333 */ }
#sideColumn2 p a:link, #sideColumn2 p a:visited { 
	color:#444; /* bcb was 900 */ 
	background-color: #dac092; 
}
#sideColumn2 p a:focus, #sideColumn2 p a:hover, #sideColumn2 p a:active { 
	color: #fff; 
	background-color: #dac092; 
}
.side1 { 
	background: #666;
	border-right: #bb8d49 7px solid;
}
.side2 { 
 	background: #dac092; 
}
